<!--Group posts filtered by group-->

{% extends 'base.html' %}

{% block title %}
  <h1>Записи сообщества {{ group.title }}</h1>
{% endblock %}

{% block content %}
<!-- Blog Entries Column -->

  {% for post in posts_by_group %}
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Автор: {{ post.author.get_full_name }}</h4>
        <p class="card-text text-muted h10">Дата публикации: {{ post.pub_date|date:"d E Y" }}</p>
        <p class="card-text">{{ post.text }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock %}